<div class="modal-container">
  <div class="modal-content">
    <h2> Configure the system</h2>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <button>Close</button>


  </div>
</div>
