<div class="modal-container">
  <div class="modal-content">
    <h2> Configure the system</h2>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput type="number" [(ngModel)]="maxPool">
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput type="number" [(ngModel)]="totalPool">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="releaseRate">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="retrievalRate">
    </mat-form-field>

    <button (click)="activateSimulation()" >Submit</button>


  </div>
</div>
